<%- include("templates/encabezado.ejs"), {user: user}%>
<div class="barraMenu">
    <div class="logoSec">
    <img src="/GreenWaste/css/media/Recurso 1.png" alt="Logo" title="Logo de GreenWaste"/>
    </div>
</div>  

<div id="button-salir">
  <button type="submit">
    <a href="/">Salir</a>
  </button>
</div>

<!-- Tabla de usuarios -->

<div id="texto-inicial">
  <h1>Usuarios registrados</h1> 
</div>

<table class="styled-table">
  <thead>
    <th>Id</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Usuario</th>
    <th>Email</th>
    <th>Estatus</th>
    <th>Borrar</th>
  </thead>
  <tbody>
    <% usuarios.forEach((usuario) => { %>
      <tr>
        <td><%= usuario.id_usu %></td>
        <td><%= usuario.nombre_usu %></td>
        <td><%= usuario.ape_usu %></td>
        <td><%= usuario.usuario_usu %></td>
        <td><%= usuario.email_usu %></td>
        <td><%= usuario.status_usu %></td>
        <td>
          <a href="/borrarUsuario/<%= usuario.id_usu %>">Borrado físico</a> /
          <a href="/borrarUsuario2/<%= usuario.id_usu %>">Borrado lógico</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<!-- Tabla de manualidades -->
<div id="titulo-tabla2">
<h1>Manualidades registradas</h1>
</div>

<table id="styled-table">
  <thead>
    <th>Id</th>
    <th>Título</th>
    <th>Descripción</th>
    <th>Acciones</th>
  </thead>
  <tbody>
    <% manualidades.forEach((manualidad) => { %>
      <tr>
        <td><%= manualidad.id_inor %></td>
        <td><%= manualidad.titulo_inor %></td>
        <td><%= manualidad.desc_inor %></td>
        <td>
          <a href="/borrarManualidad/<%= manualidad.id_inor %>">Borrar físico</a> /
          <a href="/borrarManualidad2/<%= manualidad.id_inor %>">Borrar lógico</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
