<%- include("templates/encabezado.ejs", { user : user })%>
<%- include("templates/menu-desplegable.ejs") %>

<div id="container-infoInicio">
  <img src="/GreenWaste/css/media/fondoInicio.webp" alt="Fondo de pagina de inicio" id="fondoInicio" />
  <div id="cuadroInicioInfo">
    <div id="infoInicio-titulo">
      <h1>GreenWaste</h1>
    </div>
    <div id="infoInicio-texto">
      <p>Un cambio pequeño, un mundo mejor</p>
    </div>
  </div>
</div>

<div>
  <h1 class="tituloResiduos">Sugerencias de manualidades</h1>
</div>

<div class="container-sugerencia">
  <div class="container-sugerencia-imagen">
    <% manualidades.forEach((manualidad) => { %>
      <div class="card">
        <a href="/manualidad/<%= manualidad.id_inor %>">
          <img src="<%= manualidad.imagen_inor %>" alt="Imagenes para las manualidades en la pagina de inicio"/>
          <div class="container-sugerencia-overlay">
            <p><%= manualidad.titulo_inor %></p>
          </div>
        </a>
      </div>
    <% }); %>
  </div>
</div>

<div>
  <h1 class="tituloResiduos">Residuos</h1>
</div>

<div class="container">
  <div class="Organicos">
    <a href="/organicos">
      <button type="submit" class="Org">
        <img src="/GreenWaste/css/media/organicos.png" alt="Boton para ingresar a la pagina de Organicos" />
      </button>
    </a>
    <div class="descResi">Organicos</div>
  </div>
  <div class="Inorganicos">
    <a href="/inorganicos">
      <button type="submit" class="Ing">
        <img src="/GreenWaste/css/media/inorganicos.png" alt="Boton para ingresar a la pagina de Inorganicos" />
      </button>
    </a>
    <div class="descResi">Inorganicos</div>
  </div>

  <div class="Biohazard">
    <a href="/residuos_toxicos">
      <button type="submit" class="Rec">
        <img src="/GreenWaste/css/media/peligrosos.png" alt=" Boton para ingresar a la pagina de residuos Toxicos" />
      </button>
    </a>
    <div class="descResi">Peligrosos</div>
  </div>

  <div class="Medicamentos">
    <a href="/residuos_medicos">
      <button type="submit" class="Med">
        <img src="/GreenWaste/css/media/medicos.png" alt="Boton para ingresar a la pagina de residuos"/>
      </button>
    </a>
    <div class="descResi">Medicos</div>
  </div>
</div>

<%- include("templates/pie.ejs")%>
