<%- include("templates/encabezado.ejs", { user : user })%>
<%- include("templates/menu-desplegable.ejs")%>
<div id="container-infoPalets">
    <img
      src="<%= manualidad.imagen_inor %>"
      alt="<%= manualidad.titulo_inor %>"
      id="fondoPalets"
    />
    <div id="cuadroOrganiInfo">
      <div id="infoPalets-titulo">
        <h1><%= manualidad.titulo_inor %></h1>
      </div>
  
  <div class="container-Palets">
      <div class="info-container-Palets">
        <p>
        <div class="container-green-Palets">
            <p> <h2>Materiales necesarios</h2></p>
            <ul>
              <% const materialesList = manualidad.mater_inor.split('\n'); %>
              <% materialesList.forEach((material) => { %>
                <li><%= material.trim() %></li>
              <% }); %>
            </ul>
        </div>
  
            <p><h2>Pasos:</h2> </p>
            <ol>
              <% const pasosList = manualidad.pasos_inor.split('\n'); %>
              <% pasosList.forEach((paso) => { %>
                <li><%= paso.trim() %></li>
              <% }); %>
            </ol>

            <p><h3>Por que deberia hacer esta manualidad</h3></p>
            <p><%= manualidad.razon_inor %></p>
          </div>
      </div>
  
      <%- include("templates/pie.ejs")%>
