<%- include("templates/encabezado.ejs", { user : user })%>
<%- include("templates/menu-desplegable.ejs", {user : user})%>

<div id="container-infoInorga">
  <img
    src="/GreenWaste/css/media/fondoInorganicos.jpg"
    alt=""
    id="fondoInorganicos"
  />
  <div id="cuadroInorganiInfo">
    <div id="infoInorganic-titulo">
      <h1>¿Que son los residuos inorganicos?</h1>
    </div>
    <div id="infoInorganic-texto">
      <p>
        Los residuos inorgánicos son desechos no biodegradables, como plásticos,
        vidrios, metales y productos químicos, que no se descomponen
        naturalmente y requieren procesos especiales de manejo y eliminación.
      </p>
    </div>
  </div>
</div>

<div class="inorganic-options-div">
  <% inorganicos.forEach((manualidad) => { %>
    <div class="inorganic-option">
      <div class="animation">
        <a href="/manualidad/<%= manualidad.id_inor %>"> 
          <img class="imagen-inor" src="<%= manualidad.imagen_inor %>" />
          <div class="container-overlay">
            <p><%= manualidad.titulo_inor %></p>
          </div>
        </a>
      </div>
    </div>
  <% }); %>
</div>
<%- include("templates/pie.ejs")%>
